
/*************** Global styles  ***********/
:root{
  --main-color: #d71d1d;
 --secondary-color:#0e2431;
   --main-padding:60px;
  --pure:#ffffff;
  --ternary:#898989;
  --section-light:#f2f2f2;
}
/* Font Size  */
:root{
  --big-font:2rem;
  --h2-font:1.25rem;
  --normal-font:0.938rem;
}
/* Start Component */

.special-heading{
  text-align: center;
  margin-bottom: 75px;
  margin-top: 20px;
}
.special-heading h1{
  font-size: 53px;
  color: var(--secondary-color);
  font-weight: normal;
}
.special-heading    span{
  color: var(--main-color);
}
.special-heading   p{
  color: var(--ternary);
}



body {
  direction: rtl;
}

.main-slider, .main-slider img {
  height: 90vh;
}

.main-slider {
  /* opacity: 0.6; */
  position: relative;
}

.main-slider .img1 {
  background-image: url("../assets/static slider.avif");
  background-attachment: fixed;
  background-size: 100% 100%;
}

.carousel-caption {
position: absolute;
top: 50%;
bottom: 50%;
}

.main-slider h5 {
  font-size: 3rem;
}

@media only screen and (max-width: 600px) {
  .main-slider h5 {
    font-size: 1.5rem;
  }
  .main-slider .img1 {
    height: 60vh;
  }
}

  /*============= Services ===============*/



  .services{
    padding: 70px 0px;
   
}
.services .services-content{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/* .services .srv{
    box-shadow: 0 20px 19px rgb(0 0 0 / 30%);
    border-radius: 15px;
} */

 



.services .container .row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
@media(min-width:992px){
    .services   .container  .row{
        justify-content: space-evenly ;
    }
}
@media(min-width:992px){
    
    .services  .col-md-3{
      
        flex-basis: calc(33% - 30px);
    }
}
@media(min-width:768px) and (max-width:991px){
    .services .col-md-3{
        flex-basis: calc(50% - 30px);
    }
}
@media(max-width:767px){
    .services   .col-md-3{
        width: 300px ;
    }
}
@media (min-width:0px) and (max-width:350px){
    .services   .col-md-3{
        width: auto;
    }
}
.services .serviceBox{
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 0px 25px 40px;
    margin: 20px 0 0;
    border-radius: 20px;
    position: relative;
    transition: all 0.3s ease;
}
.services  .serviceBox:hover{ box-shadow: 0 10px 10px rgba(0,0,0,0.2); }
.services .serviceBox:before,
.services  .serviceBox:after{
    content: "";
    width: 10px;
    border-radius: 0 100px 100px 0;
    position: absolute;
    top: 110px;
    bottom: 35px;
    left: 0;
}
.services  .serviceBox:after{
    border-radius: 100px 0 0 100px;
    left: auto;
    right: 0;
}
.services   .serviceBox .service-icon{
    color: #fff;
    background: linear-gradient(-45deg,#008d86 49%,#01a2a6 50%);
    font-size: 45px;
    line-height: 92px;
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 100px;
    border: 15px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    transition: all 0.3s ease;
}
.services   .serviceBox:hover .service-icon i{
    transform: rotateX(360deg);
    transition: all .7s;
}
.services .serviceBox .title{
  color: #d71d1d;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 10px;
}
.services   .serviceBox .description{
    color: #444;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
}
/* red && gray */


.services   .serviceBox.red:before,
.services   .serviceBox.red:after{ 
  
  background: linear-gradient(90deg, rgba(155,155,161,1) 8%, rgba(215,29,29,1) 54%);


}
.services   .serviceBox.red .service-icon{ 
  
  background: linear-gradient(90deg, rgba(155,155,161,1) 8%, rgba(215,29,29,1) 54%);


}
.services   .serviceBox.red .title{ color: #d71d1d}
/* pink */
.services   .serviceBox.pink:before,
.services   .serviceBox.pink:after{ background: radial-gradient(circle, rgba(233,148,200,1) 0%, rgba(238,174,202,1) 23%);
  ;
}
.services   .serviceBox.pink .service-icon{ background: radial-gradient(circle, rgba(233,148,200,1) 0%, rgba(238,174,202,1) 23%);
  ;
}
.services   .serviceBox.pink.title{ color: #d71d1d }

/* main-color (red && bieg) */
.services   .serviceBox.main:before,
.services   .serviceBox.main:after{background: linear-gradient(90deg, rgba(240,189,185,1) 31%, rgba(182,43,15,1) 76%);

}
.services   .serviceBox.main .service-icon{background: linear-gradient(90deg, rgba(240,189,185,1) 31%, rgba(182,43,15,1) 76%);

}
.services   .serviceBox.main .title{ color: #d71d1d }


@media only screen and (max-width:990px){
    .services   .serviceBox{ margin: 20px 0 50px; }



}


/* START CONTACTS */
section.contacts {
  background-color: rgba(242, 240, 240, 0.79);
 
  


}
.sendbtn{
  /* background: radial-gradient(circle, rgba(215,29,29,1) 34%, rgba(155,155,161,0.9808123933167017) 78%); */
  background: radial-gradient(circle, rgba(155,155,161,0.9808123933167017) 55%, rgba(215,29,29,1) 95%); 


}