@import 'owl.carousel/dist/assets/owl.carousel.css';
@import 'owl.carousel';



body{
    direction: rtl;
}
   
.main-slider,.main-slider img{
height: 90vh;
}

.main-slider{
    opacity: .6;
}
.main-slider .img1{
    background-image: url('../assets/static slider.avif');
    background-attachment: fixed ;
    background-size: cover;

}
.carousel-caption{
   
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  

}
.main-slider h5{
font-size: 3rem;

}